- issuable = local_assigns.fetch(:issuable)

- has_due_date = issuable.has_attribute?(:due_date)
- form = local_assigns.fetch(:form)

.form-group.row
  = form.label :label_ids, class: "col-form-label col-md-2 #{"col-lg-4" if has_due_date}" do
    Weight
  .col-md-10{ class: ("col-lg-8" if has_due_date) }
    .issuable-form-select-holder
      - if issuable.weight
        = form.hidden_field :weight

      = form.text_field :weight, class: "datepicker form-control", placeholder: "Enter a number", autocomplete: "off", type: "text"
